<script lang="ts">
    export let text: string;
    export let url: string;
</script>

<span>
    <a href={url}>{text}</a>
</span>

<style>
    span {
        background-color: var(--bgColor);
        color: var(--color);
    }
    span > a {
        padding: 1em;
    }
</style>
