<script>
    import Initiative from './Initiative.svelte';
</script>

<footer>
    <div class="topleft">
        <div class="logo">
            <div class="logoTitle">Observatoire</div>
            <div class="logoTitle logoTitle2">du droit d'accès</div>
            <div class="cyanSub">aux documents administratifs</div>
        </div>
        <ul class="links">
            <li>Qui sommes-nous?</li>
            <li>Sources des données</li>
            <li>FAQ / Glossaire</li>
            <li>Nous contacter</li>
            <li>Mentions légales</li>
            <li>Vie privée et cookies</li>
        </ul>
    </div>

    <div class="topRight">
        <Initiative theme="light" />
    </div>
</footer>

<style>
    ul.links {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 9em;
        margin-top: 3em;
    }
    ul.links li {
        background-color: var(--blue-dark);
        color: white;
        display: inline;
        font-family: 'Apfel Grotezk';
        font-weight: 400;
        margin-bottom: 0.4em;
        margin-right: 1em;
        padding: 0.5em;
    }
    div.logo {
        margin-top: 1.5em;
    }
    div.logoTitle {
        color: white;
        font-family: 'Tanker-Regular';
        font-size: 64px;
        font-weight: 400;
        text-align: center;
        text-transform: capitalize;
        transform: rotate(-2deg);
        z-index: 3;
    }
    div.logoTitle2 {
        font-size: 54px;
        margin-top: -0.5em;
    }
    div.cyanSub {
        color: var(--cyan);
        font-family: 'Apfel Grotezk';
        font-size: 24px;
        font-weight: 400;
        margin-top: -0.7em;
        text-align: center;
    }
    footer {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        padding-inline: 6em;
    }
    div.topleft {
        display: flex;
        flex-flow: row;
    }
    div.topRight {
        display: flex;
        flex-flow: row;
        height: 6em;
        margin-top: 3em;
    }
    footer {
        background: var(--txt-black);
        height: 14em;
    }
</style>
