<script>
    import Initiative from './Initiative.svelte';
    import LinkBox from '$lib/LinkBox.svelte';
</script>

<header>
    <div class="top">
        <div class="topleft">
            <div class="logo">
                <div class="logoTitle">Observatoire</div>
                <div class="logoTitle logoTitle2">du droit d'accès</div>
                <div class="redSub">aux documents administratifs</div>
            </div>
            <div class="links">
                <LinkBox>Qui sommes-nous?</LinkBox>
                <LinkBox>Sources des données</LinkBox>
                <LinkBox>FAQ / Glossaire</LinkBox>
            </div>
        </div>

        <div class="topRight">
            <Initiative theme="dark" />
            <div class="links">
                <LinkBox>FR</LinkBox>
                <LinkBox>EN</LinkBox>
            </div>
        </div>
    </div>
</header>

<style>
    div.links {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        margin-left: 3em;
        margin-top: 2em;
    }
    div.logo {
        margin-left: 2em;
        margin-top: 1.5em;
    }
    div.logoTitle {
        color: var(--txt-black);
        font-family: 'Tanker-Regular';
        font-size: 64px;
        font-weight: 400;
        text-align: center;
        text-transform: capitalize;
        transform: rotate(-2deg);
        z-index: 3;
    }
    div.logoTitle2 {
        font-size: 54px;
        margin-top: -0.5em;
    }
    div.redSub {
        color: var(--red);
        font-family: 'Apfel Grotezk';
        font-size: 24px;
        font-weight: 400;
        margin-top: -0.7em;
        text-align: center;
    }
    div.top {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
    }
    div.topleft {
        display: flex;
        flex-flow: row;
    }
    div.topRight {
        display: flex;
        flex-flow: row;
        height: 6em;
        margin-right: 2em;
    }
    header {
        background: linear-gradient(#e0f1f7ff, #e0f1f700);
        height: 14em;
    }
</style>
