<script lang="ts">
    import CountryBox from '$lib/CountryBox.svelte';
    import Title from './Title.svelte';
</script>

<div class="wrapper">
    <Title>À l'international: la France à la traine</Title>
    <div class="compare">
        <CountryBox countryCode="fr" --bgColor="var(--red)" responseRate="19" nbPerPeople="12" />
        <CountryBox countryCode="nl" responseRate="83" nbPerPeople="123" />
        <CountryBox countryCode="hr" responseRate="83" nbPerPeople="123" />
        <CountryBox countryCode="uk" responseRate="83" nbPerPeople="123" />
    </div>
    <div class="legend">
        Pourcentage de taux d’accès | Délai d’attente d’une réponse de l’administration
        <span>Sources</span>
    </div>
</div>

<style>
    div.compare {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 0.8em;
        margin-bottom: 1em;
        row-gap: 2em;
        justify-content: center;
    }
    div.legend {
        color: var(--blue-dark);
        font-family: 'Apfel Grotezk';
        font-size: 17px;
        font-weight: 400;
    }
    div.legend span {
        color: var(--red);
    }
    div.wrapper {
        align-items: center;
        background-color: var(--blue-light);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 3em;
        padding-top: 4em;
    }
</style>
