<script lang="ts">
    import arrowRight from '/src/images/arrow-right.svg?raw';

    export let icon: string = '';
    const icons: { [iconName: string]: string } = {
        arrowRight
    };
</script>

<span>
    <slot />
    {#if icon}
        {@html icons[icon]}
    {/if}
</span>

<style>
    @import '/css/apfelgrotezk.css';
    span {
        background-color: var(--bgColor, #ffffff);
        color: var(--color, #003b4f);
        display: inline;
        font-family: 'Apfel Grotezk';
        font-weight: bold;
        margin-bottom: 0.2em;
        margin-top: 0.2em;
        padding: 0.5em;
    }
</style>
