<script lang="ts">
</script>

<div>
    <slot />
</div>

<style>
    @import '/css/tanker.css';
    div {
        color: var(--color, #003b4f);
        font-family: 'Tanker-Regular';
        font-size: var(--font-size, 36px);
        margin-bottom: 1em;
        text-align: center;
        text-transform: capitalize;
        z-index: 3;
    }
    div::before {
        background-color: var(--bgColor, white);
        content: '';
        display: inline-block;
        height: 0.8em;
        left: calc(50% - 180px);
        position: absolute;
        transform: rotate(-2deg) translate(0, calc(40%));
        width: 360px;
        z-index: -1;
    }
</style>
