<script lang="ts">
    import Footer from '$lib/Footer.svelte';
    import Header from '$lib/Header.svelte';
</script>

<Header />

<main>
    <slot />
</main>

<Footer />

<style>
    :root {
        --red: #ec5432;
        --txt-black: #003b4f;
        --blue-dark: #20667d;
        --blue-light: #d9e8ee;
        --cyan: #3ab7df;
        --yellow: #ecca32;
    }
    :global(html) {
        margin: 0 auto;
        max-width: 1440px;
    }
</style>
