@font-face {
    font-family: 'Apfel Grotezk';
    src: url('/fonts/apfelgrotezk/ApfelGrotezk-Regular.woff2') format('woff2'),
        url('/fonts/apfelgrotezk/ApfelGrotezk-Regular.woff') format('woff'),
        url('/fonts/apfelgrotezk/ApfelGrotezk-Regular.otf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
